<% layout('layout', { title: 'Főoldal', user: user }) %>

<section id="main" class="wrapper">
  <div class="inner">
    <h1>Üdvözöllek a főoldalon!</h1>

    <% if (user) { %>
      <p>Bejelentkezve mint: <strong><%= user.username %></strong> (<%= user.role %>)</p>
      <a href="/app021/logout" class="button">Kijelentkezés</a>
      <% if (user.role === 'admin') { %>
        <a href="/app021/admin" class="button">Admin oldal</a>
      <% } %>
    <% } else { %>
      <p>Vendégként böngészel. Jelentkezz be vagy regisztrálj, ha több funkciót szeretnél elérni.</p>
      <a href="/app021/login" class="button">Bejelentkezés</a>
      <a href="/app021/register" class="button">Regisztráció</a>
    <% } %>
  </div>
</section>
